/*
https://www.codenameone.com/manual/css.html

padding (and variants): padding-left/right/top/bottom, top+bottom right+left, top left+right bottom, top right bottom left
    If there is only one value, it applies to all sides. 
If there are two values, the top and bottom paddings are set to the first value and the right and left paddings are set to the second. 
If there are three values, the top is set to the first value, the left and right are set to the second, and the bottom is set to the third. 
If there are four values, they apply to the top, right, bottom, and left, respectively.
margin (and variants)
border (and variants): cn1-round-border /cn1-pill-border /border-radius (property)
RoundBorder {
border: 1px #3399ff  cn1-round-border;
text-align:center;
margin:2mm;
padding:3mm;
}

RoundBorderFilled {
background: cn1-round-border;
background-color: #ccc;
text-align:center;
margin:2mm;
padding:3mm;
}
PillBorder {
border: 1pt #3399ff cn1-pill-border;
text-align:center;
}

PillBorderFilled {
background: cn1-pill-border;
background-color: #3399ff;
color:white;
text-align:center;
}
RoundRectLabel {
background-color: red;
border-radius: 2mm;
}

border-radius
background (Usage below)
background-color
background-repeat
background-image

ex: MyContainer {
background: linear-gradient(0deg, #ccc, #666);
}

font(Usage on Fonts wiki page):
PlainText0p5mm {
font-size: 0.5mm;
}
font-family (Usage on Fonts wiki page):  "native:MainThin" / native:MainLight / native:MainRegular / native:MainBold / native:MainBlack / native:ItalicThin / native:ItalicLight / native:ItalicRegular / native:ItalicBold / native:ItalicBlack 
https://www.codenameone.com/javadoc/com/codename1/ui/Font.html

links to official syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family

CN1 Syntax and keywords in file: package com.codename1.ui.html.CSSElement.java

font-style (Usage on Fonts wiki page): italic
font-size (Usage on Fonts wiki page): small/medium/large/5mm/200% (% relative to the medium font size of the platform)
font-weight: bold

color: white/black/**
@font-face (Usage on Fonts wiki page)
@font-face {
font-family: "FontAwesome";
src: url(github://FontAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.ttf);
}
BoldText3d {
text-decoration: cn1-3d;
font-weight: bold;
color:white;
background-color: #3399ff;
}    

color
text-align
text-decoration(Usage below): underline/overline/line-through/none/cn1-3d/cn1-3d-lowered/cn1-3d-shadow-north
opacity
box-shadow
width (only used for generating background-images and borders)
height (only used for generating background-images and borders)
*/

/*
    Constants {
    PopupDialogArrowBool: false;
    calTitleDayStyleBool: true;
    calTransitionVertBool: false;
    calendarLeftImage: "calendar-arrow-left.png";
    calendarRightImage: "calendar-arrow-right.png";
    centeredPopupBool: false;
    checkBoxCheckDisFocusImage: "Check-Box_Normal.png";
    checkBoxCheckedFocusImage: "Check-Box_Press.png";
    checkBoxCheckedImage: "Check-Box_Press.png";
    checkBoxOppositeSideBool: true;
    checkBoxUncheckedFocusImage: "Check-Box_Normal.png";
    checkBoxUncheckedImage: "Check-Box_Normal.png";
    comboImage: "combo.png";
    commandBehavior: "Side";
    dialogTransitionIn: "fade";
    dialogTransitionOut: "fade";
    dlgButtonCommandUIID: "DialogButton";
    dlgCommandGridBool: true;
    dlgInvisibleButtons: #1a1a1a;
    formTransitionIn: "empty";
    formTransitionOut: "slide";
    includeNativeBool: true;
    menuImage: "of_menu.png";
    noTextModeBool: true;
    onOffIOSModeBool: true;
    otherPopupRendererBool: false;
    pureTouchBool: true;
    radioSelectedFocusImage: "Radio_btn_Press.png";
    radioSelectedImage: "Radio_btn_Press.png";
    radioUnselectedFocusImage: "Radio_btn_Normal.png";
    radioUnselectedImage: "Radio_btn_Normal.png";
    sideMenuImage: "menu.png";
    switchMaskImage: "switch-mask-3.png";
    switchOffImage: "switch-off-3.png";
    switchOnImage: "switch-on-3.png";
    tabPlacementInt: 0;
    backIconImage: "Back-icon.png";
    articleSourceIconImage: "Source-icon.png";
    articleDateIconImage: "Date-icon.png";
    articleArrowRightImage: "Arrow-right.png";
    articleShareIconImage: "Share-icon.png";
    articleBookmarkIconImage: "Bookmark-icon.png";
    articleTextIconImage: "Text-icon.png";
    articleCommentsIconImage: "Comments-icon.png";
    newsIconImage: "News-icon.png";
    channelsIconImage: "Channels-icon.png";
    bookmarksIconImage: "Bookmarks-icon.png";
    overviewIconImage: "Overview-icon.png";
    calendarIconImage: "Calendar-icon.png";
    timelineIconImage: "Timeline-icon.png";
    profileIconImage: "Profile-icon.png";
    widgetsIconImage: "Widgets-icon.png";
    settingsIconImage: "Settings-icon.png";
    SubmitIconImage: "Submit-icon.png";
    SubmitIconDarkImage: "SubmitButtonLight-icon.png";
}
*/

#Constants {
    includeNativeBool: true; 
}

Label {
    /*border: 1pt solid gray;*/
    padding: 1mm;
    margin: 1mm;
    text-align: left;
    color: black;
    background-color: transparent;
}

Button {
    /*border: 1pt solid gray;*/
    text-align: center;
    color: dodgerblue;
    background-color: transparent;
}

Button.pressed {
    background-color: gray;
}


MyButton {
    cn1-derive: Button;
    background-color: blue;
}

Title {
    cn1-derive: Button;
    background-color: blue;
}
TitleSmall {
    cn1-derive: Button;
    background-color: red;
}

/*************** EDIT ITEM ***********/

Spacer {
    cn1-derive: Label;

    color: darkslategray;
    background-color: blue;
    margin:3mm;
    padding:0 ; /*top+bottom right+left*/
    border-bottom: 1px darkgray;
    border-top: 1px darkgray;
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}
EditFieldContainer {
    /* cn1-derive: Label;
     
     color: darkslategray;
     background-color: blue;
     margin:3mm;
     border-top: 1px darkgray;
     padding:0 ; /*top+bottom right+left*/
    border-bottom: 4px black;
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}
LabelField {
    cn1-derive: Label;
    font-family :  "native:MainLight";
    font-size: 100%;
    text-align: left;
    color: darkslategray;
    /*background-color: #3399ff;*/
    margin:1mm 1mm;
    padding:0 1.5mm; /*top+bottom right+left*/
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}

LabelFixed {
    cn1-derive: Label;
    font-family :  "native:MainLight";
    font-size: 100%;
    text-align: left;
    color: darkslategray;
    /*background-color: #3399ff;*/
    margin:1mm 1mm;
    padding:0 1.5mm; /*top+bottom right+left*/
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}

LabelValue {
    cn1-derive: Label;
    color: blue;
}
ScreenItemTaskText {
    cn1-derive: Label;
    padding: 1mm;
    margin: 1mm;
    border: 1pt solid darkgray; /* cn1-pill-border; /*cn1-round-border;*/
    color: black;
    font-size: 100%;
    text-align: left;
}

Text { /*old UIID for task text*/
    cn1-derive: ScreenItemTaskText;
}
Comment { 
    cn1-derive: ScreenItemTaskText;
    font-size: 80%;
}

/*************** objectSelector / setOwner **************/

ObjectSelectorRadioButton{
   cn1-derive: Button;
    color: blue;
}
/*ObjectSelectorRadioButton.selected {
    cn1-derive: Button;
    color: blue;
}*/

/*************** main menu **************/
MainMenuCommand {
    cn1-derive: Label;
    font-family :  "native:MainLight";
    font-size: 120%;
    text-align: left;
    color: dimgray;
    /*background: linear-gradient(0deg, #ccc, #666);*/
    background: linear-gradient(0deg, whitesmoke, lightgray);
    /*background-color: #3399ff;*/
    margin:0px 0mm;/*1px 1mm;*/
    padding:1.5mm 3mm; /*top+bottom right+left*/
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}
/*************** list of items **************/

ListOfItemsTextCont { /*style for task container (WrapButton) in lists*/
    margin:0mm;
    padding:0; /*top+bottom right+left*/
}

ListOfItemsText { /*style for task text in lists*/
    /*cn1-derive: Label;*/
    font-family :  "native:MainLight";
    font-size: 80%; /*100%;*/
    text-align: left;
    color:black;
    /*background-color: #3399ff;*/
    margin:0mm;
    padding:0 0.5mm; /*top+bottom right+left*/
    /*padding-left:0.5mm;
    padding-right:0.5mm;*/
}
ListOfItemsTextDone { /*style for DONE task text in lists*/
    cn1-derive: ListOfItemsText;
    color:grey;
    text-decoration: line-through;
}

ItemListSmall {
    cn1-derive: LabelValue;
    text-align: left;
    font-family :  "native:MainRegular";
    font-size: 70%; /*80*/
    margin:0;
    padding:0 0.5mm; /*top+bottom right+left*/
}

ItemDetails { /*style for task details - SOUTH */
    cn1-derive: Container;

    margin:0mm;
    padding:0; /*top+bottom right+left*/
}

ItemDetailsLabel { /*style for task details labels */
    cn1-derive: ItemListSmall;
    color:darkgray;
    margin:0mm;
    padding:0 0.5mm; /*top+bottom right+left*/
}

ListOfItemsPrio {
    cn1-derive: ItemListSmall;
    color:darkgray;
}

ListOfItemsImpUrg {
    cn1-derive: ItemListSmall;
    color:red;
}

ListOfItemsActualEffort {
    cn1-derive: ItemListSmall;
    /*text-align: center;*/
    color:grey;
}
ItemEffortEstimateLabel {
    cn1-derive: ItemListSmall;
    /*text-align: center;*/
    color:brown;
}

ListOfItemsRemaining {
    cn1-derive: ItemListSmall;
    /*text-align: center;*/
    color:black;
}

ListOfItemsCompletedDate {
    cn1-derive: ItemListSmall;
    /*text-align: center;*/
    color:grey;
    /*background-color: #3399ff;
    /*foreground-color: #268b04;*/
}

ListOfItemsDueDate {
    cn1-derive: ItemListSmall;
    /*text-align: center;*/
    color:grey;
    /*background-color: #3399ff;
    /*foreground-color: #268b04;*/
}

ListOfItemsDueDateInherited {
    cn1-derive: ListOfItemsDueDate;
    /* text-align: center;*/
    color: red;
    text-decoration: underline;
    /*background-color: #3399ff;
    /*foreground-color: #268b04;*/
}

ListOfItemsDueDateOverdue {
    cn1-derive: ItemListSmall;
    text-align: center;
    color:darksalmon;
    /*background-color: #3399ff;
    /*foreground-color: #268b04;*/
}

ListOfItemsFinishTime {
    cn1-derive: ItemListSmall;
    text-align: center;
    color:grey;
    text-decoration: underline;
    /*background-color: #3399ff;
    /*foreground-color: #268b04;*/
}

ListOfItemsFinishTimeOverdue {
    cn1-derive: ItemListSmall;
    color:red;
}

ListOfItemsShowSubtasks { /*expand subtasks*/
    cn1-derive: ItemListSmall;
    background: darkgray;
    text-decoration: none;
    color:white;
    /*border: 1pt solid darkgray; /* cn1-pill-border; /*cn1-round-border;*/
    /*border-radius: 8px; //TODO: this seems to make it crash - need to update CN1 source?! */
}

MyCheckBox {
    cn1-derive: ListOfItemsText;
    font-size: 120%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: brown;
}

ExpandedList {
    cn1-derive: Label;
    padding:0;
    margin: 0 0 0 4mm;
    color: lightgray;
    border: 1px solid gray; /*cn1-pill-border */
    box-shadow: 12px 12px 12px 12px activeborder inset;
    /*border-radius: 0mm;*/
}

MyDragAndDropSwipeableContainer {
    /*cn1-derive: Label;*/
    padding:0;
    margin: 0;
    color: white;
    /*background-color: transparent;
    /*border: 1px solid gray; /*cn1-pill-border */
    /*border-radius: 0mm;*/
}


ContainerListElement {
    /*wraps item in ScreenListOfItems*/
    /*cn1-derive: Label;*/
    padding:0mm 0;
    margin: 0mm 0;
    border-bottom: 1px solid darkgrey;
    /*background-color: whitesmoke;
    box-shadow: 12px 12px 12px 12px activeborder inset;
    /*background-color: transparent;
    /*border: 1px solid gray; /*cn1-pill-border */
    /*border-radius: 0mm;*/
}

ItemContainer {
    /*wraps item in ScreenListOfItems*/
    /*cn1-derive: Label;*/
    padding:0;
    margin: 0;
    background-color: whitesmoke;
    /*background-color: transparent;
    /*border: 1px solid gray; /*cn1-pill-border */
    /*border-radius: 0mm;*/
}

/* WORKSLOT */
WorkSlotContainer {
    cn1-derive: ItemContainer;
}
WorkSlotStartTime { /*style for task details - SOUTH */
    cn1-derive: ItemDetails;
}
WorkSlotStartTimeNow { /*style for task details - SOUTH */
    cn1-derive: ItemDetails;
        text-decoration: underline;
}
WorkSlotEndTime { /*style for task details - SOUTH */
    cn1-derive: ItemDetails;
}
WorkSlotDetails { /*style for task details - SOUTH */
    cn1-derive: ItemDetails;
}




ListOfItemsMyCheckBox {
    cn1-derive: MyCheckBox;
    /*padding: 0 1mm 0 2mm;*/
    margin: 0 1mm 0 1mm;
}

ListOfItemsSelected {
    cn1-derive: FinishTime;
    font-size: 80%;
    margin: 0 1 0 1mm;
    padding: 0 0 0 0mm;
    text-align: left;
    color:grey;
}

ListOfItemsEditItemIcon {
    font-size: 120%;
    margin: 0 0 0 2mm;
    padding: 0 0 0 2mm;
    text-align: right;
    color:grey;
}

ItemStatusPopup {
    font-size: 180%;
    margin: 0 0 0 2mm;
    padding: 0 0 0 2mm;
    text-align: right;
    color:green;
}

ItemStatusIcon {
    font-size: 100%;
    margin: 0 0 0 2mm;
    padding: 0 0 0 2mm;
    text-align: right;
    color: #999999;
}

ItemCommentIcon {
    cn1-derive: ItemStatusIcon;
}

ItemStatusPopupIcon {
    font-size: 120%;
    margin: 0 0 0 2mm;
    padding: 0 0 0 2mm;
    text-align: left;
    color:#666666;
}

SwipeButton{
    font-size: 180%;
    margin: 0;
    padding: 3mm;
    text-align: right;
    color:white;
}

SwipeButtonIcon{
    font-size: 180%;
    margin: 0;
    padding: 1mm;
    color:white;
}

SwipeButtonNewFromTemplate {
    cn1-derive: SwipeButton;
    background-color:lightblue;
}

SwipeButtonSetDueToToday {
    cn1-derive: SwipeButton;
    background-color:greenyellow;
}

SwipeButtonStar {
    cn1-derive: SwipeButton;
    background-color:red;
}

SwipeButtonTimer {
    cn1-derive: SwipeButton;
    background-color:violet;
}

StickyHeader {
    cn1-derive: ItemListSmall;
    text-align: center;
    color:black;
    background-color:darkgrey;
    /*foreground-color: #268b04;*/
}



ToggleButton {
    font-size: 100%;
    text-align: center;
    margin: 0;
    padding: 1mm;
    text-align: right;
    color: #6eaeff; /**dodgerblue;*/
}

ToggleButton.pressed {
    color: white; /**dodgerblue;*/
}

ToggleButton.selected {
    color: white; /**dodgerblue;*/
}

ToggleButtonFirst {
    cn1-derive: ToggleButton;
}
ToggleButtonFirst.pressed {
    color: white; /**dodgerblue;*/
}

ToggleButtonFirst.selected {
    color: white; /**dodgerblue;*/
}
ToggleButtonLast {
    cn1-derive: ToggleButton;
}
ToggleButtonLast.pressed {
    color: white; /**dodgerblue;*/
}

ToggleButtonLast.selected {
    color: white; /**dodgerblue;*/
}

MyComponentGroupxx {
    margin:1mm 1mm;
    padding:0 1.5mm; /*top+bottom right+left*/
}

ComponentGroup {
    margin:1mm 2mm 1mm 0 ;
}

ButtonGroup {
    font-family :  "native:MainRegular";
    font-size: 100%;
    color: grey;
    /*background: green;*/
}

ButtonGroupFirst {
    cn1-derive: ButtonGroup;
    /*color: yellow;*/
}

ButtonGroupLast {
    cn1-derive: ButtonGroup;
    /*color: blue;*/
}

ButtonGroupOnly {
    cn1-derive: ButtonGroup;
    /*color: violet;*/
}

/******* TIMER ****************/

TimerTimer {
    /*font-family :  "native:MainBold";*/
   /* font-family :  "System-Monospace"; doesn't seem to be monospace on iOS, but OK on simulator'*/
    font-family :  "largeBoldMonospaceFont";
    font-family :  monospace;

    font-size: 200%;
    border: 1mm solid gray;
    background: blue;
    text-align: center;
    color:white;
}

TimerTimerPaused {
    cn1-derive: TimerTimer;
    background: grey;
}

TimerTimerSmall {
    cn1-derive: TimerTimer;
    border: 0.5mm solid gray;
    font-size: 100%;
}
TimerTimerSmallPaused {
    cn1-derive: TimerTimerSmall;
    background: grey;
}
SmallTimerContainer {
    /*cn1-derive: TimerTimerSmall;*/
    background: lightblue;
}

/******* TIMER ****************/

ManualSorting {
    color: violet;
}
/******* OTHER ****************/
Switch {
    /*color: white;
    background: activeborder;*/
    padding: 0 2mm 0 0;
}



