
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-emo-thumbsup:before { content: '\e806'; } /* '' */
.icon-emo-devil:before { content: '\e807'; } /* '' */
.icon-emo-surprised:before { content: '\e808'; } /* '' */
.icon-emo-tongue:before { content: '\e809'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-viacoin:before { content: '\f237'; } /* '' */